<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
</head>

<body>


    <img style="position:absolute;top:0.13in;left:0.22in;width:12.33in;height:8.36in" src={{ci1}} />
    <div style="position:absolute;top:2.63in;left:0.32in;width:0.71in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Due
            Date</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:2.63in;left:3.28in;width:0.84in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{dueDate}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:2.93in;left:0.32in;width:0.96in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Invoice
            Date</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:2.93in;left:3.28in;width:0.84in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{invoiceData}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:0.14in;left:0.29in;width:3.83in;height:0.01in" src={{ci2}} />
    <img style="position:absolute;top:0.39in;left:0.29in;width:3.83in;height:0.01in" src={{ci3}} />
    <img style="position:absolute;top:0.14in;left:0.29in;width:0.01in;height:0.25in" src={{ci4}} />
    <img style="position:absolute;top:0.14in;left:4.11in;width:0.01in;height:0.25in" src={{ci5}} />
    <div style="position:absolute;top:0.20in;left:1.90in;width:0.64in;line-height:0.16in;"><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Liberation Sans;color:#000000">Bank
            Copy</span><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:0.40in;left:0.29in;width:3.83in;height:1.45in" src={{ci6}} />
    <div style="position:absolute;top:0.46in;left:0.32in;width:0.73in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Challan
            #</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:0.46in;left:3.73in;width:0.39in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">{{challanNo}}</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:0.73in;left:0.72in;width:0.67in;height:0.68in" src={{loc}} />
    <div style="position:absolute;top:0.97in;left:1.88in;width:2.21in;line-height:0.23in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Pay
            the
            dues through Invoice in</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br />
        <DIV style="position:relative; left:0.18in;"><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Any
                Askari Bank Branch</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></DIV>
        <DIV style="position:relative; left:0.84in;"><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">(Only).</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></DIV>
    </div>
    <div style="position:absolute;top:1.97in;left:0.45in;width:3.49in;line-height:0.13in;"><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">Students are
            responsible to keep in record paid Challan copy. For any</span><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:2.14in;left:1.28in;width:1.85in;line-height:0.13in;"><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">information/support
            please contact:</span><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:2.32in;left:1.38in;width:1.63in;line-height:0.13in;"><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#0000ff">nusthostelmessbills@gmail.com</span><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#0000ff">
        </span><br /></SPAN>
    </div>
    <img style="position:absolute;top:2.43in;left:1.38in;width:1.62in;height:0.01in" src={{ci7}} />
    <img style="position:absolute;top:3.18in;left:0.29in;width:3.83in;height:1.81in" src={{ci8}} />
    <div style="position:absolute;top:3.24in;left:0.32in;width:0.82in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Student
            ID</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.24in;left:3.13in;width:0.99in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{studentId}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.54in;left:0.32in;width:1.08in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Student
            Name</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.54in;left:1.86in;width:0.92in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{studentName}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.84in;left:0.32in;width:0.98in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Father
            Name</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.84in;left:1.86in;width:0.91in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{fatherName}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.14in;left:0.32in;width:3.44in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">School
            &amp;
            Discipline </span></SPAN><br /></div>
    <div style="position:absolute;top:4.14in;left:0.32in;width:3.44in;line-height:0.20in;">
        <DIV style="position:relative; left:1.53in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{dept}}</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></DIV>
    </div>
    <div style="position:absolute;top:4.44in;left:0.32in;width:0.52in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Hostel</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.44in;left:2.50in;width:1.65in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{hostel}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.75in;left:0.32in;width:0.57in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Room#</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.75in;left:3.82in;width:0.30in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{roomNumber}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:4.99in;left:0.29in;width:3.83in;height:2.74in"src={{ci9}} />
    <div style="position:absolute;top:5.05in;left:0.32in;width:0.90in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Description</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.05in;left:3.12in;width:1.02in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Amount
            (Rs.)</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.33in;left:0.32in;width:0.66in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Mess
            Bill</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.33in;left:3.53in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{messBill}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.61in;left:0.32in;width:1.44in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Refundable
            Security</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.89in;left:0.32in;width:0.91in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Grand
            Total</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.89in;left:3.53in;width:0.60in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">{{grandTotal}}</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:6.17in;left:0.32in;width:1.96in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">5%
            fine on
            late deposit upto</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{datewith5perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:6.17in;left:3.53in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{with5perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:6.69in;left:0.32in;width:2.04in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">10%
            fine
            on late deposit upto</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{datewith10perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:6.69in;left:3.53in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{with10perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:7.20in;left:0.32in;width:2.04in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">15%
            fine
            on late deposit upto</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{datewith15perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:7.20in;left:3.53in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{with15perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:7.73in;left:0.29in;width:3.83in;height:0.01in" src={{ci10}} />
    <img style="position:absolute;top:8.47in;left:0.29in;width:3.83in;height:0.01in" src={{ci11}} />
    <img style="position:absolute;top:7.73in;left:0.29in;width:0.01in;height:0.76in" src={{ci12}} />
    <img style="position:absolute;top:7.73in;left:4.11in;width:0.01in;height:0.76in" src={{ci13}} />
    <div style="position:absolute;top:7.82in;left:0.35in;width:3.72in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Bank
        </span></SPAN><br /></div>
    <div style="position:absolute;top:7.82in;left:0.35in;width:3.72in;line-height:0.20in;">
        <DIV style="position:relative; left:0.50in;"><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Only:
            </span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Acceptable
            </span></SPAN></DIV><br />
    </div>
    <div style="position:absolute;top:7.82in;left:0.35in;width:3.72in;line-height:0.20in;">
        <DIV style="position:relative; left:1.78in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">at
                All
                Askari </span></SPAN></DIV><br />
    </div>
    <div style="position:absolute;top:7.82in;left:0.35in;width:3.72in;line-height:0.20in;">
        <DIV style="position:relative; left:2.74in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Bank
            </span></SPAN></DIV><br />
    </div>
    <div style="position:absolute;top:7.82in;left:0.35in;width:3.72in;line-height:0.22in;">
        <DIV style="position:relative; left:3.17in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Limited</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></DIV><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Branches.
            Use ACMS Collection Module</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN>
    </div>
    <img style="position:absolute;top:2.57in;left:4.27in;width:3.83in;height:0.61in" src={{ci14}} />
    <div style="position:absolute;top:2.63in;left:4.31in;width:0.71in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Due
            Date</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:2.63in;left:7.27in;width:0.84in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{dueDate}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:2.93in;left:4.31in;width:0.96in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Invoice
            Date</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:2.93in;left:7.27in;width:0.84in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{invoiceData}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:0.14in;left:4.27in;width:3.83in;height:0.01in" src={{ci15}} />
    <img style="position:absolute;top:0.39in;left:4.27in;width:3.83in;height:0.01in" src={{ci16}} />
    <img style="position:absolute;top:0.14in;left:4.27in;width:0.01in;height:0.25in" src={{ci17}} />
    <img style="position:absolute;top:0.14in;left:8.09in;width:0.01in;height:0.25in" src={{ci18}} />
    <div style="position:absolute;top:0.20in;left:5.86in;width:0.68in;line-height:0.16in;"><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Liberation Sans;color:#000000">Office
            Copy</span><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:0.40in;left:4.27in;width:3.83in;height:1.45in" src={{ci19}} />
    <div style="position:absolute;top:0.46in;left:4.31in;width:0.73in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Challan
            #</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:0.46in;left:7.72in;width:0.39in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">{{challanNo}}</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:0.73in;left:4.71in;width:0.67in;height:0.68in" src={{loc}} />
    <div style="position:absolute;top:0.97in;left:5.87in;width:2.21in;line-height:0.23in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Pay
            the
            dues through Invoice in</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br />
        <DIV style="position:relative; left:0.18in;"><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Any
                Askari Bank Branch</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></DIV>
        <DIV style="position:relative; left:0.84in;"><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">(Only).</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></DIV>
    </div>
    <div style="position:absolute;top:1.97in;left:4.44in;width:3.49in;line-height:0.13in;"><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">Students are
            responsible to keep in record paid Challan copy. For any</span><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:2.14in;left:5.26in;width:1.85in;line-height:0.13in;"><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">information/support
            please contact:</span><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:2.32in;left:5.37in;width:1.63in;line-height:0.13in;"><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#0000ff">nusthostelmessbills@gmail.com</span><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#0000ff">
        </span><br /></SPAN>
    </div>
    <img style="position:absolute;top:2.43in;left:5.36in;width:1.62in;height:0.01in" src={{ci20}} />
    <img style="position:absolute;top:3.18in;left:4.27in;width:3.83in;height:1.81in" src={{ci21}} />
    <div style="position:absolute;top:3.24in;left:4.31in;width:0.82in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Student
            ID</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.24in;left:7.11in;width:0.99in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{studentId}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.54in;left:4.31in;width:1.08in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Student
            Name</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.54in;left:5.84in;width:0.92in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{studentName}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.84in;left:4.31in;width:0.98in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Father
            Name</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.84in;left:5.84in;width:0.91in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{fatherName}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.14in;left:4.31in;width:3.44in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">School
            &amp;
            Discipline </span></SPAN><br /></div>
    <div style="position:absolute;top:4.14in;left:4.31in;width:3.44in;line-height:0.20in;">
        <DIV style="position:relative; left:1.53in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{dept}}</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></DIV>
    </div>
    <div style="position:absolute;top:4.44in;left:4.31in;width:0.52in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Hostel</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.44in;left:6.48in;width:1.65in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{hostel}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.75in;left:4.31in;width:0.57in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Room#</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.75in;left:7.80in;width:0.30in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{roomNumber}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:4.99in;left:4.27in;width:3.83in;height:2.74in" src="ci_22.png" />
    <div style="position:absolute;top:5.05in;left:4.30in;width:0.90in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Description</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.05in;left:7.10in;width:1.02in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Amount
            (Rs.)</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.33in;left:4.30in;width:0.66in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Mess
            Bill</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.33in;left:7.51in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{mesBill}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.61in;left:4.30in;width:1.44in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Refundable
            Security</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.89in;left:4.30in;width:0.91in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Grand
            Total</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.89in;left:7.51in;width:0.60in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">{{grandTotal}}</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:6.17in;left:4.30in;width:1.96in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">5%
            fine on
            late deposit upto</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000"
            {{datewith5perc}}1</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></div>
    <div style="position:absolute;top:6.17in;left:7.51in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{with5perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:6.69in;left:4.30in;width:2.04in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">10%
            fine
            on late deposit upto</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000"
            {{datewith10perc}}6</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></div>
    <div style="position:absolute;top:6.69in;left:7.51in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{with10perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:7.20in;left:4.30in;width:2.04in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">15%
            fine
            on late deposit upto</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000"
            {{datewith15perc}}1</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></div>
    <div style="position:absolute;top:7.20in;left:7.51in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{with15perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:7.73in;left:4.27in;width:3.83in;height:0.01in" src={{ci23}} />
    <img style="position:absolute;top:8.47in;left:4.27in;width:3.83in;height:0.01in" src={{ci24}} />
    <img style="position:absolute;top:7.73in;left:4.27in;width:0.01in;height:0.76in" src={{ci25}} />
    <img style="position:absolute;top:7.73in;left:8.09in;width:0.01in;height:0.76in" src={{ci26}} />
    <div style="position:absolute;top:7.82in;left:4.34in;width:3.72in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Bank
        </span></SPAN><br /></div>
    <div style="position:absolute;top:7.82in;left:4.34in;width:3.72in;line-height:0.20in;">
        <DIV style="position:relative; left:0.50in;"><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Only:
            </span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Acceptable
            </span></SPAN></DIV><br />
    </div>
    <div style="position:absolute;top:7.82in;left:4.34in;width:3.72in;line-height:0.20in;">
        <DIV style="position:relative; left:1.78in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">at
                All
                Askari </span></SPAN></DIV><br />
    </div>
    <div style="position:absolute;top:7.82in;left:4.34in;width:3.72in;line-height:0.20in;">
        <DIV style="position:relative; left:2.74in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Bank
            </span></SPAN></DIV><br />
    </div>
    <div style="position:absolute;top:7.82in;left:4.34in;width:3.72in;line-height:0.22in;">
        <DIV style="position:relative; left:3.17in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Limited</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></DIV><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Branches.
            Use ACMS Collection Module</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN>
    </div>
    <img style="position:absolute;top:2.57in;left:8.26in;width:3.83in;height:0.61in" src={{ci27}} />
    <div style="position:absolute;top:2.63in;left:8.30in;width:0.71in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Due
            Date</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:2.63in;left:11.26in;width:0.84in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{dueDate}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:2.93in;left:8.30in;width:0.96in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Invoice
            Date</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:2.93in;left:11.26in;width:0.84in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{invoiceData}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:0.14in;left:8.26in;width:3.83in;height:0.01in" src={{ci28}} />
    <img style="position:absolute;top:0.39in;left:8.26in;width:3.83in;height:0.01in" src={{ci29}} />
    <img style="position:absolute;top:0.14in;left:8.26in;width:0.01in;height:0.25in" src={{ci30}} />
    <img style="position:absolute;top:0.14in;left:12.08in;width:0.01in;height:0.25in" src={{ci31}} />
    <div style="position:absolute;top:0.20in;left:9.80in;width:0.79in;line-height:0.16in;"><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Liberation Sans;color:#000000">Student
            Copy</span><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:0.40in;left:8.26in;width:3.83in;height:1.45in" src={{ci32}} />
    <div style="position:absolute;top:0.46in;left:8.30in;width:0.73in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Challan
            #</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:0.46in;left:11.70in;width:0.39in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">{{challanNo}}</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:0.73in;left:8.70in;width:0.67in;height:0.68in" src={{loc}} />
    <div style="position:absolute;top:0.97in;left:9.85in;width:2.21in;line-height:0.23in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Pay
            the
            dues through Invoice in</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br />
        <DIV style="position:relative; left:0.18in;"><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Any
                Askari Bank Branch</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></DIV>
        <DIV style="position:relative; left:0.84in;"><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">(Only).</span><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></DIV>
    </div>
    <div style="position:absolute;top:1.97in;left:8.42in;width:3.49in;line-height:0.13in;"><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">Students are
            responsible to keep in record paid Challan copy. For any</span><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:2.14in;left:9.25in;width:1.85in;line-height:0.13in;"><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">information/support
            please contact:</span><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#000000">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:2.32in;left:9.35in;width:1.63in;line-height:0.13in;"><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#0000ff">nusthostelmessbills@gmail.com</span><span
            style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Lato;color:#0000ff">
        </span><br /></SPAN>
    </div>
    <img style="position:absolute;top:2.43in;left:9.35in;width:1.62in;height:0.01in" src={{ci33}} />
    <img style="position:absolute;top:3.18in;left:8.26in;width:3.83in;height:1.81in" src={{ci34}} />
    <div style="position:absolute;top:3.24in;left:8.30in;width:0.82in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Student
            ID</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.24in;left:11.10in;width:0.99in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{studentId}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.54in;left:8.30in;width:1.08in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Student
            Name</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.54in;left:9.83in;width:0.92in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{studentName}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.84in;left:8.30in;width:0.98in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Father
            Name</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.84in;left:9.83in;width:0.91in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{fatherName}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.14in;left:8.30in;width:3.44in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">School
            &amp;
            Discipline </span></SPAN><br /></div>
    <div style="position:absolute;top:4.14in;left:8.30in;width:3.44in;line-height:0.20in;">
        <DIV style="position:relative; left:1.53in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{dept}}</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></SPAN></DIV>
    </div>
    <div style="position:absolute;top:4.44in;left:8.30in;width:0.52in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Hostel</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.44in;left:10.47in;width:1.65in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{hostel}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.75in;left:8.30in;width:0.57in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Room#</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.75in;left:11.79in;width:0.30in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{roomNumber}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:4.99in;left:8.26in;width:3.83in;height:2.74in" src={{ci35}} />
    <div style="position:absolute;top:5.05in;left:8.29in;width:0.90in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Description</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.05in;left:11.09in;width:1.02in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Amount
            (Rs.)</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.33in;left:8.29in;width:0.66in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Mess
            Bill</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.33in;left:11.50in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{mesBill}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.61in;left:8.29in;width:1.44in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Refundable
            Security</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.89in;left:8.29in;width:0.91in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Grand
            Total</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.89in;left:11.50in;width:0.60in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">{{grandTotal}}</span><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:6.17in;left:8.29in;width:1.96in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">5%
            fine on
            late deposit upto</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{datewith5perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:6.17in;left:11.50in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{with5perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:6.69in;left:8.29in;width:2.04in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">10%
            fine
            on late deposit upto</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{datewith10perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:6.69in;left:11.50in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{with10perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:7.20in;left:8.29in;width:2.04in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">15%
            fine
            on late deposit upto</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{datewith15perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:7.20in;left:11.50in;width:0.60in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">{{with15perc}}</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN></div>
    <img style="position:absolute;top:7.73in;left:8.26in;width:3.83in;height:0.01in" src={{ci36}} />
    <img style="position:absolute;top:8.47in;left:8.26in;width:3.83in;height:0.01in" src={{ci37}} />
    <img style="position:absolute;top:7.73in;left:8.26in;width:0.01in;height:0.76in" src={{ci38}} />
    <img style="position:absolute;top:7.73in;left:12.08in;width:0.01in;height:0.76in" src={{ci39}} />
    <div style="position:absolute;top:7.82in;left:8.33in;width:3.72in;line-height:0.22in;"><span
            style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Bank
        </span></SPAN><br /></div>
    <div style="position:absolute;top:7.82in;left:8.33in;width:3.72in;line-height:0.20in;">
        <DIV style="position:relative; left:0.50in;"><span
                style="font-style:normal;font-weight:bold;font-size:10pt;font-family:Liberation Sans;color:#000000">Only:
            </span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Acceptable
            </span></SPAN></DIV><br />
    </div>
    <div style="position:absolute;top:7.82in;left:8.33in;width:3.72in;line-height:0.20in;">
        <DIV style="position:relative; left:1.78in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">at
                All
                Askari </span></SPAN></DIV><br />
    </div>
    <div style="position:absolute;top:7.82in;left:8.33in;width:3.72in;line-height:0.20in;">
        <DIV style="position:relative; left:2.74in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Bank
            </span></SPAN></DIV><br />
    </div>
    <div style="position:absolute;top:7.82in;left:8.33in;width:3.72in;line-height:0.22in;">
        <DIV style="position:relative; left:3.17in;"><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Limited</span><span
                style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
            </span><br /></DIV><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">Branches.
            Use ACMS Collection Module</span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Liberation Sans;color:#000000">
        </span><br /></SPAN>
    </div>



</body>

</html>